html, body {
    height: 100%;
}
.ivu-menu-vertical.ivu-menu-light:after {
    background: #ccc;
    width: 0px;
}
/* .ivu-menu-vertical.ivu-menu-light li {
    border-right: 1px solid #ccc;
} */
.ivu-input {
    font-size: 13px;
    font-weight: 600;
}
.min_stl .ivu-input-default {
    border-radius: 0px;
    padding-right: 65px;
}

.fls2 .content_text .item_users .ivu-table-overflowX {
    overflow: hidden;
}

.ivu-list-bordered.ivu-list-small .ivu-list-footer,
.ivu-list-bordered.ivu-list-small .ivu-list-header {
  font-weight: bold;
}
.ivu-list-bordered.ivu-list-small .ivu-list-header {
    background-color: #eaeeef;
    border-bottom: 1px solid #c8c1c1;
}
.ivu-list-bordered.ivu-list-small .ivu-list-item.y_en {
    display: block;
    height: 230px;
    overflow-y: auto;
}
.ivu-list-bordered.ivu-list-small .ivu-list-item.y_en2 {
    display: block;
    position: relative;
}
.ivu-list-bordered.ivu-list-small .ivu-list-footer, .ivu-list-bordered.ivu-list-small .ivu-list-header {
    padding: 0px;
}
.mine_diver.ivu-divider.ivu-divider-horizontal.ivu-divider-default.ivu-divider-with-text.ivu-divider-with-text-center {
    margin-top: 0px;
    margin-bottom: 20px;
}
.ivu-form-inline .ivu-form-item.ds_box {
    width: 100%;
}

/*搜索单词*/
.SearchInt .ivu-input {
    background-color: #fff;
}


